backports.tarfile==1.2.0
docopt==0.6.2
faiss-cpu==1.11.0
importlib-metadata==8.0.0
inflect==7.3.1
ipython==8.12.3
jaraco.collections==5.1.0
langchain-experimental==0.3.4
nbconvert==7.16.6
nltk==3.9.1
openai==1.77.0
pip-chill==1.0.3
pypdf2==3.0.1
python-docx==1.1.2
seaborn==0.13.2
sentence-transformers==4.1.0
tinycss2==1.4.0
tomli==2.0.1
yarg==0.1.9
